mule-esb-examples/myHelloApp/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:mule-xml="http://www.mulesoft.org/schema/mule/xml"
	xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:client="http://www.mulesoft.org/schema/mule/client"
	xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.7/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.7/mule-http.xsd
        http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/3.7/mule-vm.xsd
        http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/3.7/mule-xml.xsd
        http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/3.7/mule-json.xsd
        http://www.mulesoft.org/schema/mule/client http://www.mulesoft.org/schema/mule/client/3.7/mule-client.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<description>
		Hello World
	</description>

	<flow name="main">
		<vm:inbound-endpoint path="in" exchange-pattern="request-response" />

		<!-- TODO add your service component here. This can also be a Spring bean 
			using <spring-object bean="name"/> -->
		<echo-component />

		<vm:outbound-endpoint path="out" />
	</flow>

	<http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081" />

	<flow name="basic_flow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="account/{accountId}" />
		<echo-component />
        <logger level="INFO" message="#[message]"/>
        <logger level="INFO" message="#[message.inboundProperties.'http.uri.params'.accountId]"/>
		<set-payload value="Hello World" />
    </flow>

    <flow name="basic_flow2">
        <http:listener config-ref="HTTP_Listener_Configuration" path="employee/*" />
		<echo-component />
        <logger level="INFO" message="#[payload]"/>
    </flow>

</mule>
